@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
    --dark-blue: hsl(209, 23%, 22%);
    --very-dark-blue-bg: hsl(207, 26%, 17%);
    --very-dark-blue-txt: hsl(200, 15%, 8%);
    --dark-grey: hsl(0, 0%, 52%);
    --very-light-grey: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}
// Variables 
$dark-mode-bg: var(--very-dark-blue-bg);
$dark-mode-txt: var(--white);
$dark-mode-element: var(--dark-blue);
// variables 

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    background-color: $dark-mode-bg;
    color: $dark-mode-txt;
}
header {
    font-size: 16px;
    background-color: $dark-mode-element;
    padding: 26px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 767px) {
        & {
            font-size: 12px;
            padding: 30px 20px;
        }
    }
    a{
        color: $dark-mode-txt;
    }
    div {
        font-weight: 600;

        i {
            margin-right: 10px;
        }
    }

}
.content{
    padding: 50px 60px;
    @media (max-width: 767px) {
        padding: 20px;
    }
    .search{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        @media (max-width: 767px) {
            height: auto;
            flex-direction: column;
            gap: 40px;
            align-items: flex-start;
        }
        .search-input{
            padding: 7px 30px;
            border-radius: 6px;
            width: 300px;
            height: 100%;
            background-color: $dark-mode-element;
            @media (max-width: 767px) {
                height: 50px;
                width: 100%;
            }
            i{
                margin-right: 10px;
            }
            input {
                outline: none;
                height: 100%;
                width: 80%;
                border: none;
                background: none;
                color: $dark-mode-txt;

                &::placeholder {
                    color: $dark-mode-txt;
                }
            }
        }
        .filter{
            position: relative;
            width: 200px;
            height: 100%;
            color: $dark-mode-txt;
            background-color: $dark-mode-element;
            border-radius: 6px;
            overflow: hidden;
            @media (max-width: 767px) {
                height: 50px;
            }
            &::before {
                content: '';
                position: absolute;
                width: 5px;
                height: 5px;
                border: 2px solid $dark-mode-txt;
                top: 50%;
                right: 20px;
                z-index: 10;
                border-top: 2px solid transparent;
                border-right: 2px solid transparent;
                transform: rotate(-45deg) translateY(calc(-50% - 4px));
            }
            input {
                &::placeholder {
                    color: $dark-mode-txt;
                }
                position: absolute;
                top: 0;
                left: 0;
                width: calc(100%);
                height: 100%;
                cursor: pointer;
                background: none;
                border: none;
                outline: none;
                padding: 7px 30px;
            }
            .option{
                display: none;
                position: absolute;
                top: 60px;
                width: 100%;
                background-color: $dark-mode-element;
                border-radius: 6px;
                overflow: hidden;
                div{
                    padding: 10px 30px;
                    transition: .3s;
                    &:hover{
                        background-color: $dark-mode-bg;
                    }
                }
            }
        }
    }
    .countries{
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 50px;
        @media (max-width: 767px) {
            justify-items: center;
        }
        .country{
            display: block;
            background-color: $dark-mode-element;
            width: 300px;
            border-radius: 6px;
            overflow: hidden;
            .flag{
                width: 100%;
                height: 170px;
                background-color: aquamarine;
            }
            .info{
                color: $dark-mode-txt;
                padding: 20px;
                .title{
                    margin: 10px 0;
                }
                ul{
                    padding: 10px 0;
                    li{
                        padding: 2px 0;
                        span{
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}